[core]
    excludesfile = ~/.gitignore
[user]
	name = jon
    email = jon@scribd.com
[alias]
    g = git
    co = checkout
    ci = commit
    br = branch
    st = status
    fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
    subl = ! sh -c 'subl `git fshow $1`' -
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[rebase]
    autosquash = true
